<a href="https://colab.research.google.com/github/akhila-haritha/semester-04-/blob/main/Advanced_Programming_Practice_Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## SET 1

Q-1

In [3]:
a,b,c = map(int,input().split())
if a*a + b*b + c*c - max(a,b,c)**2 == max(a,b,c)**2:
  print("Pythagorean triplets")
else:
  print("Not Pythagorean triplets")

3   4     5
Pythagorean triplets

Q-2

In [13]:
people = [ ]
name= input()
names = []
salaries = []
while name!="End":
  a = dict() 
  a[name] = int(input())
  names.append(name)
  salaries.append(a[name])
  name = input()
print("Avg: ",sum(salaries)/len(salaries))


#Print who gets the highest salary and the salary
#Print who gets the lowest salary and the salary

Lakshmi
5
Mahalakshmi
10
Gajalakshmi
20
Dhairyalakshmi
30
Aadilakshmi
40
Vidyalakshmi
50
End
Avg:  25.833333333333332

Q-3

In [4]:
for x in range(1,11):
  print(x,'\t',x**2,'\t',x**3)
  print( )

1 	 1 	 1

2 	 4 	 8

3 	 9 	 27

4 	 16 	 64

5 	 25 	 125

6 	 36 	 216

7 	 49 	 343

8 	 64 	 512

9 	 81 	 729

10 	 100 	 1000

Q-4

In [ ]:
word = input()